/*@font-face {*/
/*  font-family: "Press Start 2P";*/
/*  src: url("../font/PressStart2P-Regular.ttf");*/
/*}*/

@font-face {
  font-family: "둥근모꼴";
  src: url("../font/DungGeunMo.ttf");
}

html,
body,
pre,
code,
kbd,
samp {
  font-family: "둥근모꼴", serif;
}

.letter {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 26px auto 0;
  max-width: 550px;
  min-height: 300px;
  padding: 24px;
  position: relative;
}
.letter:before,
.letter:after {
  content: "";
  height: 98%;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.letter:before {
  background: #fafafa;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  left: -5px;
  top: 4px;
  transform: rotate(-2.5deg);
}
.letter:after {
  background: #f6f6f6;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  right: -3px;
  top: 1px;
  transform: rotate(1.4deg);
}

.nes-list.is-disc.is-dark li::before {
  color: white;

}

.resume-body-smooth {
  font-family: var(--font-body);
}
.resume-body {
  font-family: 둥근모꼴, serif;
}
